body {
    background: linear-gradient(6deg, rgba(24, 41, 79, 1) 12%, rgba(11, 25, 56, 1) 45%, rgba(22, 2, 66, 1) 90%);

}

#container {
    max-width: 1200px;
    min-width: 800px;
    padding: 20px;

    margin: auto;
    font-family: 'proxima-nova', sans-serif;
    line-height: 1.5em;
    background: rgb(24, 41, 79);
    background: linear-gradient(6deg, rgba(24, 41, 79, 1) 12%, rgba(11, 25, 56, 1) 45%, rgba(22, 2, 66, 1) 90%);
}

h1 {
    color: white;
    display: inline-block;
    background-color: #3d3158;
    padding: 2% 1% 2% 1%;
    font-size: 70px;
}

h2 {
    color: rgba(251, 227, 131, 1);
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 3.5px;
    line-height: 2.1em;
    background-color: #3d3158;
}

a:hover {
    background-color: #F7EC59;
    color: #493F5E;
}

footer {
    max-width: 1200px;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 80px;
    border-top: 0.5px solid lightgray;

}

.subhead {
    animation: animationColor 5s linear both;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    transition: height 1s;
    background: rgb(251, 227, 131);
    border: 4px;
    border-style: solid;
    border-color: rgba(24, 41, 79, 1);
    animation: colorChange 4s linear infinite alternate;

}

/* below are the boxes for the banner interaction */
#box1 {
    width: 800px;
    animation-delay: 0s;
}

#box2 {
    width: 693px;
    animation-delay: -0.5s;
}

#box3 {
    width: 586px;
    animation-delay: -1s;
}

#box4 {
    width: 480px;
    animation-delay: -1.5s;
}

#box5 {
    width: 373px;
    animation-delay: -2s;
}

#box6 {
    width: 267px;
    animation-delay: -2.5s;
}

#box7 {
    width: 160px;
    animation-delay: -3s;
}

#box8 {
    width: 53px;
    animation-delay: -3.5s;
}

.box:hover {
    height: 20px;
}


.banner {
    display: flex;
    width: 800px;
    height: 250px;
    animation: animationColor 5s linear both;
    align-items: center;

}

.banner:hover {
    cursor: crosshair;
}



#columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


@keyframes colorChange {
    0% {
        background-color: rgba(251, 227, 131, 1);
    }

    100% {
        background-color: rgba(241, 159, 98, 1)
    }
}