
/* theres a lot of css so just a quick explanation of how everythings organized
 * there are three main sections: the heading, the background + animations, and the form 
    * heading 
        * h1 & container styling
    * background
        * 3 waves and their animation
        * submarine and its animation
    * the form 
        * form container
        * the intro text 
        * all stuff on the form

 * we also have the overlay styling
    *to be updated 
*/


body {
background-color: #0B1E32;
}


main {
    position: relative;
    width: 1366px;
    height: 768px;
    margin: auto;
    margin-top: 70px;
    background: #F6C07E;
    background-image: url("images/background.svg");
    overflow:scroll;
}


/* header styling */
header {
    position: absolute;
    display:flex;
    align-items: center;

    width: 788px;
    height: 106px;
    left: 120px;
    top: 80px;

    background: #0B1E32;
    border-radius: 20px;
}

h1 { 
    margin:auto;
    text-align: center;
    font-size: 72px;
    padding-top: 2%; /*manually center */

    font-family: Rockwell;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;

    color: #EBDCCD;
}

/* background elements in the madlib page 
    * wave elements + animation
    * submarine + animation 
*/

/* wave elements */ 
.waves {
    position: absolute;
    bottom: 0%;
    width: 102%;
    object-fit: contain;

    filter: drop-shadow(1px -1px 3px rgba(0, 0, 0, 0.25));
    animation: wavemove 3s infinite; 
}

#wave-bottom{
    animation-delay: -1s;
}

#wave-mid{
    animation-delay: -2s;
}

#wave-top {
    animation-delay: 0s;
}


@keyframes wavemove {
    0% {left: 0px}
    50%{left: -10px}
    100%{left: 0px}
}


/* submarine */ 
#submarine {
    position: absolute;
    width: 369.74px;
    height: 263.12px;
    left: 134.25px;
    top: 294.99px;
    filter: drop-shadow(1px -1px 3px rgba(0, 0, 0, 0.25));
    animation: subfloat 6s linear infinite;

}

@keyframes subfloat {
    0% { transform: translate(0px, 0px) rotate(-2deg) ;}
    50%{ transform: translate(10px, 10px) rotate(2deg) ;}
    100%{ transform: translate(-0px, -0px) rotate(-2deg) ;}
}


/* form styling */ 
#formcontainer { 
    position: absolute;
    width: 300px;
    height: 425px;
    left: 750px;
    top: 220px;

    background: #EBDCCD;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    padding: 27.5px 60px 35px 60px;

    /* font styling for everything except heading */
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #3C5FA3;
}

h2 {
    font-family: Rockwell;
    font-style: normal;
    font-weight: 200;
    font-size: 21px;
    line-height: 25px;

    color: #0B1E32;
}


label,input {
    display:block;
}

input{
    margin-bottom:18px;
    width: 128px;
    height: 30px;
    background-color: #3C5FA3;
    color: white;

    border: none;
    border-radius: 6px;


    outline: none;


    /*input fonts */ 
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    
    /* add a shadow to make it clear */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
 
}

input:focus {
    background-color:#46A6BE;
}

label { 
    font-style: italic;
}

#submitbutton {
    background-color: #46A6BE;
    margin: auto;

    height: 40px;
    width: auto;
    padding: 5px 15px 1px 15px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;

    color: #EBDCCD;

}

#submitbutton:active{ 
    background-color: #3C5FA3;

}
/* fieldset input, fieldset label {
    display: inline;
}

fieldset label {
    margin-bottom: 20px;
}  */


