/* body settings */
/* may change width to be responsive later later */



html{ 
    background-color: black;

    scroll-behavior: smooth;

}

body{
    font-family: proxima-nova, sans-serif;
    font-style: normal;    
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: white;
    background: linear-gradient(180deg, #0997FF 0%, #002547 5%, #001427 30%, rgb(0, 0, 0) 100%);
    margin: auto;
    padding: 0;
    position: relative;
    top:0;
    padding: 0;
    overflow-x: hidden;
    width: 1366px;
    height: 50640px; /*change this later to match max depth */

    animation: fade-in 0.3s linear forwards;
}



/* styling for intro section */
#introsection {
    position:absolute;
    overflow: hidden;
    
    top:0;
    opacity: .9;
}


#header{
    font-size: 72px;
}

.interfaceItems {
    visibility: hidden;
}


#submarine-float{ 
    position: absolute;
    top: 100px;
    left: 80px;
    transform: translate(-30deg);


    animation: sub-swim 3s linear infinite;
}


@keyframes sub-swim {
    0% { transform: translate(0px, 20px) rotate(-40deg) ;}
    50%{ transform: translate(10px, 30px) rotate(-35deg) ;}
    100%{ transform: translate(-0px, 20px) rotate(-40deg) ;}
}

@keyframes sub-dive {
    0% { transform: translate(0px, 0px) rotate(-40deg); opacity:1; }
    /* 80% {transform: translate(0px, 555px) rotate(0deg); opacity:0; } */
    100%{transform:translate(0px, 555px) rotate(0deg); opacity:0;}
}

.waves {
    position: absolute;
    width: 102%;
    top: 200px;
    left:0;
    object-fit: contain;
    opacity: .5;

    filter: drop-shadow(1px -1px 3px rgba(0, 0, 0, 0.25));
    animation: wavemove 3s infinite;
}

#wave-bottom{
    animation-delay: -0.5s;
}

#wave-mid{
    animation-delay: -1s;
}

#wave-top {
    animation-delay: 0s;
    opacity: 1;
}

@keyframes wavemove {
    0% {left: 0px}
    50%{left: -30px}
    100%{left: 0px}
}


/*styling for sidebar*/
#sidebar {
    background-color: none;
    position: fixed;
    padding:0;
    padding-top:0;

    margin:0;
    width: calc(.3 * 1366px);
    height: 100%;

}


#stats {
    position: absolute;
    width: 212.47px;
    height: auto;
    left: 69px;
    top: 274px;    
    padding: 10px 10px;


    

    background: #BB4567;
    border-radius: 10px;
}

#stats p {


    font-weight: 800;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;


    color: #FFFFFF;
}

p#conv-rate {
    font-weight: normal;
}

/* styling for buttons */

#button-container {
    position: fixed;
    top: 80%;
    left: 50%;        

    display:inline;
    visibility: hidden;
    border-top: 2px solid #ffffff;
    box-sizing: border-box;
    padding: 10px 15px;
}

.btn {
    height: auto;
    text-decoration: none;
    color: white;
    text-align: center;
    
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;


    text-transform: uppercase;

}

.side {
    margin-left:  px;

    border: 2px solid #ffffff;
    background-color: #69696965;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 10px;

    font-weight: 600;
    font-size: 16px;
    
}


.side:hover {
    background-color: #ffffff00;
}


/* animation for fade-in fade out */
@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;

    }
    to {
        opacity: 1;
        visibility: visible;

    }
}

@keyframes fade-out{
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}


/* styling for the main sea thing lol */
main {
    position: absolute;
    padding: 0;
    margin:0;
    width: calc(.7 * 1366px);
    height: 50640px;
    top:0;
    right:0;
}

.dashed-line {
    height: 50640px;
    width:2px;
    /* i used this source to generate a custom dashed line because the default sucks: https://kovart.github.io/dashed-border-generator/ */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E9C28FFF' stroke-width='4' stroke-dasharray='10%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

#pointer {
    position: fixed;
    width: 80.65px;
    height: 32px;
    top: 288px;
    margin-left: 350px;
}

.story {
    position: absolute;
    padding: 10%;
    width: 500px;
    height: 750px;
}

.story h1{
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;    
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-top:40px;
    padding-left: 100px;
}

.story h2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.4;
    margin-bottom: 10px;

    color: #FFFFFF;
}

.story img { 
    height: 30%;
    position: absolute;
    top: 150px;

    
}
#arrow {
    position: absolute;
    left:350px;
    top: 380px;
    animation: bounce 2s infinite ease-in-out; 
}


@keyframes bounce{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.story p {
    padding-left: 100px;
}

.story div {
    position: absolute;
    width: 503px;
    height: 5px;
    background: #FFFFFF;
}

#s1 {
    width: 700px;
    left: -180px;
    top: 200px;
}


#s2 {
    top: 2000px;
}

#s3 {
    top: 6000px;
}

#s4 {
    top: 10000px;
}

#s5 {
    top: 20000px;
}

#s6 {
    top: 30000px;
}

#s7 {
    top: 40000px;
}

#s8{
    top: 44740px;
}

#s9 {
    top: 49822px;
}





/* styling for footer */
footer {

    background-color: none;
    position: fixed;
    padding:0;
    display:inline;
    
    margin:0;
    width: calc(.2 * 1366px);

    bottom:0;
    font-weight: 600;
    font-size: 14px;
    margin-left: 110px; 
    margin-bottom: 25px;

}

footer a { 
    

    left: 106px;
    margin-left: 4px;
    padding: 7px;
    width: 100px;


    border: 2px solid #E9C28F;
    box-sizing: border-box;
    border-radius: 3px;


}

footer a:hover {
    border: 2px solid #E9C28F;

    background: #F0A84A;
}


/* image animations */
#submarine { 
    animation: subswim 3s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes subswim { 
    0% {
        transform: translate(80px,-0px)
        rotate(-10deg);
    }

    50%{
        transform: translate(88px,8px)
        rotate(-4deg);
    }

    100%{
        transform: translate(80px,0px)
        rotate(-10deg);

    }
} 


#squid {
    animation: squid-swim 3s linear infinite;
    width: auto;
}


@keyframes squid-swim{
    0% {
        transform: translate(400px, 200px ) scale(.9) rotate(14deg);
    } 
    50%{ 
        transform:  translate(400px, 200px ) scale(1.3) rotate(8deg);
    } 
    100% {
        transform:  translate(400px, 200px ) scale(.9) rotate(14deg);

    }
}

#jellyfish {
    animation: jellyfish-glow 5s ease-in-out infinite;

    width:auto;
}


@keyframes jellyfish-glow {
    0%{ 
        filter: drop-shadow(0px 0px 10px #fabf717e);
        transform: translate(0, 200px);
    }
    50%{ 
        filter: drop-shadow(0px 0px 30px #fabf7144);
        transform: translate(0, 200px);

    }
    100%{ 
        filter: drop-shadow(0px 0px 10px #fabf717e);
        transform: translate(0, 200px);

    }
}


#whale{
    top: 360px;
    animation: fish-swim 5s linear infinite;

}

#angler {
    top: 390px;
    animation: jellyfish-glow 5s ease-in-out infinite, fish-swim 5s linear infinite;
}

#viper {
    top:auto;
    animation: jellyfish-glow 5s ease-in-out infinite, fish-swim 5s linear infinite;

}

#eel {
    top: auto;
    animation: fish-swim 5s linear infinite;

}


@keyframes fish-swim {
    0%{
        transform: translate(0, 0);
    }


    50%{
        transform: translate(200px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
    
}